.DS_Store
_build/**
*~
*.cmi
*.exe
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.a
*.o
*.annot
*.run
*.opt
*.native
*.byte
*.install
*.iml
pkg/META
.merlin
/node_modules/
.idea/
diffs/
*.har
gmailconfig/
ovconfig/
plugins/__pycache__
plugins/python_log
ocaml-curses-1.0.3/
